<h1>Electrodomesticos</h1>
<div class="row">
    <table class="table">
        <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Descripcion</th>
         </tr>
        </thead>
        <tbody>
            <tr *ngFor="let electrodomestico of Electrodomesticos; let iControl=index">
            <th scope="row">{{electrodomestico.id}}</th>
                <td>{{electrodomestico.tipo}}</td>
                <td>{{electrodomestico.descripcion}}</td>
            </tr>
        </tbody>
    </table>
</div>